In [1]:
import pandas as pd
import shutil
import time
import requests
import json
import numpy as np
from IPython.display import clear_output
from IPython.display import display

In [2]:
start = 34500
end = 36500

In [3]:
strikes = np.arange(start,end+100,100)

In [4]:
df = pd.DataFrame(strikes, columns=['StrikePrice'])
df['Call-OI-Change'] = 0
df['Put-OI-Change'] = 0
df["Call-OI"] = 0
df['Put-OI'] = 0

In [5]:
first_price = 0

In [7]:
while True :
    new_url = 'https://www.nseindia.com/api/option-chain-indices?symbol=BANKNIFTY'
    headers = {'User-Agent': 'Mozilla/5.0'}
    page = requests.get(new_url,headers=headers)
    k = json.loads(page.text)
    ce = []
    pe = []
    for i in k['records']['data'] :
        if i['expiryDate'] == '23-Dec-2021' and i['strikePrice'] in strikes:
            ce.append(i['CE'])
            pe.append(i['PE'])
    spot_price = pe[0]['underlyingValue']
    
    ce_dataframe = pd.DataFrame(ce,columns=['strikePrice','openInterest'])
    pe_dataframe = pd.DataFrame(pe,columns=['strikePrice','openInterest'])
    ce_dataframe['Put-OI'] = pe_dataframe[['openInterest']]
    ce_dataframe['Call-OI-Change'] = 0
    ce_dataframe['Put-OI-Change'] = 0
    df_new = ce_dataframe.rename(columns = {'openInterest': 'Call-OI'}, inplace = False)
    df_answer = df_new.copy()
    ce_1 = df.loc[:,'Call-OI'].to_numpy()
    ce_2 = df_answer.loc[:,'Call-OI'].to_numpy()
    pe_1 = df.loc[:,'Put-OI'].to_numpy()
    pe_2 = df_answer.loc[:,'Put-OI'].to_numpy()
    ce_change = ce_2 - ce_1
    pe_change = pe_2 - pe_1
    df_answer['Call-OI-Change'] = pd.DataFrame(ce_change)
    df_answer['Put-OI-Change'] = pd.DataFrame(pe_change)
    df = df_answer.copy()
    clear_output()
    print("Spot Price = ", spot_price)
    print("Change Price = ", spot_price - first_price)
    first_price = spot_price
    display(df_answer)
    time.sleep(300)

Spot Price =  35618.65
Change Price =  35618.65

    strikePrice  Call-OI  Put-OI  Call-OI-Change  Put-OI-Change
0         35000     3323   37996            3323          37996
1         35100      348    5093             348           5093
2         35200      636   10469             636          10469
3         35300      880    9361             880           9361
4         35400     1015    9830            1015           9830
5         35500    10390   35312           10390          35312
6         35600     5698   10108            5698          10108
7         35700     9144   10333            9144          10333
8         35800    14865   11135           14865          11135
9         35900    16828    9371           16828           9371
10        36000    69942   43665           69942          43665
11        36100    13763    5686           13763           5686
12        36200    27232    7554           27232           7554
13        36300    23295    6057           23295           6057
14        36400    19809    3698           19809           3698
15        36500    64126   21992           64126          21992
16        36600    25456    4701           25456           4701
17        36700    20613    3526           20613           3526
18        36800    32326    7141           32326           7141
19        36900    20896    1818           20896           1818
20        37000    75325   12748           75325          12748