In [5]:
import pandas as pd
import shutil
import time
import requests
import json
import numpy as np
from IPython.display import clear_output
from IPython.display import display

In [6]:
start = 16500
end = 17500

In [7]:
strikes = np.arange(start,end+50,50)

In [8]:
df = pd.DataFrame(strikes, columns=['StrikePrice'])
df['Call-OI-Change'] = 0
df['Put-OI-Change'] = 0
df["Call-OI"] = 0
df['Put-OI'] = 0

In [9]:
df

    StrikePrice  Call-OI-Change  Put-OI-Change  Call-OI  Put-OI
0         16500               0              0        0       0
1         16550               0              0        0       0
2         16600               0              0        0       0
3         16650               0              0        0       0
4         16700               0              0        0       0
5         16750               0              0        0       0
6         16800               0              0        0       0
7         16850               0              0        0       0
8         16900               0              0        0       0
9         16950               0              0        0       0
10        17000               0              0        0       0
11        17050               0              0        0       0
12        17100               0              0        0       0
13        17150               0              0        0       0
14        17200               0              0        0       0
15        17250               0              0        0       0
16        17300               0              0        0       0
17        17350               0              0        0       0
18        17400               0              0        0       0
19        17450               0              0        0       0
20        17500               0              0        0       0

In [10]:
    while True :
        new_url = 'https://www.nseindia.com/api/option-chain-indices?symbol=NIFTY'
        headers = {'User-Agent': 'Mozilla/5.0'}
        page = requests.get(new_url,headers=headers)
        k = json.loads(page.text)
        ce = []
        pe = []
        for i in k['records']['data'] :
            if i['expiryDate'] == '09-Dec-2021' and i['strikePrice'] in strikes:
                ce.append(i['CE'])
                pe.append(i['PE'])
        spot_price = pe[0]['underlyingValue']
        
        ce_dataframe = pd.DataFrame(ce,columns=['strikePrice','openInterest'])
        pe_dataframe = pd.DataFrame(pe,columns=['strikePrice','openInterest'])
        ce_dataframe['Put-OI'] = pe_dataframe[['openInterest']]
        ce_dataframe['Call-OI-Change'] = 0
        ce_dataframe['Put-OI-Change'] = 0
        df_new = ce_dataframe.rename(columns = {'openInterest': 'Call-OI'}, inplace = False)
        df_answer = df_new.copy()
        ce_1 = df.loc[:,'Call-OI'].to_numpy()
        ce_2 = df_answer.loc[:,'Call-OI'].to_numpy()
        pe_1 = df.loc[:,'Put-OI'].to_numpy()
        pe_2 = df_answer.loc[:,'Put-OI'].to_numpy()
        ce_change = ce_2 - ce_1
        pe_change = pe_2 - pe_1
        df_answer['Call-OI-Change'] = pd.DataFrame(ce_change)
        df_answer['Put-OI-Change'] = pd.DataFrame(pe_change)
        df = df_answer.copy()
        clear_output()
        print("Spot Price = ", spot_price)
        display(df_answer)
        time.sleep(300)

Spot Price =  17227.65

    strikePrice  Call-OI  Put-OI  Call-OI-Change  Put-OI-Change
0         16500     1556   76444              -5            412
1         16550       73    9270               0            -75
2         16600      225   47130               0           -355
3         16650      120   14065               0            -36
4         16700      993   47923               4           -213
5         16750      276   16535              -1           -180
6         16800     4833   76152             -19            425
7         16850     1122   18861              -4            210
8         16900    24018   87932            -123           -644
9         16950     1896   33132               2            -33
10        17000    33093  125648            -668           -223
11        17050     5584   30096            -147            322
12        17100    48903   74564            -758            145
13        17150    18914   27289           -1212             70
14        17200   105324   81456            -562           3542
15        17250    25999    9733             674            783
16        17300    84271   19836            -113            345
17        17350    25599    3825            -983             69
18        17400   100441   11492           -2300            106
19        17450    36439    1265               5            -15
20        17500   134386   12662            -463             79

KeyboardInterrupt:

array([56467,  7060, 29141, 13001, 36767,  9649, 40583,  8843, 58026,
       10922, 53609,  6749, 28067,  4018, 27471,  2617, 13638,  3273,
        9479,  1314, 12294])

Index(['strikePrice', 'expiryDate', 'underlying', 'identifier', 'openInterest',
       'changeinOpenInterest', 'pchangeinOpenInterest', 'totalTradedVolume',
       'impliedVolatility', 'lastPrice', 'change', 'pChange',
       'totalBuyQuantity', 'totalSellQuantity', 'bidQty', 'bidprice', 'askQty',
       'askPrice', 'underlyingValue'],
      dtype='object')

39573.7

Index(['strikePrice', 'expiryDate', 'underlying', 'identifier', 'openInterest',
       'changeinOpenInterest', 'pchangeinOpenInterest', 'totalTradedVolume',
       'impliedVolatility', 'lastPrice', 'change', 'pChange',
       'totalBuyQuantity', 'totalSellQuantity', 'bidQty', 'bidprice', 'askQty',
       'askPrice', 'underlyingValue'],
      dtype='object')

Sum Total Call OI =  537508
Sum Total Put OI =  369159
Change in Call OI =  158444
Change in Put OI =  127676
Max Call OI :  40000      53577
Max Put OI :  39000      38384
Max Call OI change for Strike Price :  45000      15964
Max Put OI change for Strike Price :  38000      14244